@import "react-alice-carousel/lib/alice-carousel.css";
@font-face {
  font-family: 'Panther';
  src: url('../fonts/PointpantherdemoBold-X32lP.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  overflow: hidden;
  background-color: #fff;
  border-right: solid 5px #f9f9f9;
}

.home {
  color: #101010;
  display: flex;
  justify-content: center;
  z-index: -2;
}

.back {
  width: 170px;
  height: 170px;
  background-color: #f9f9f9;
  border-radius: 50%;
  position: relative;
}

.image {
  position: absolute;
  width: 200px;
  height: 200px;
  background-size: contain;
  background-position: 50% 30%;
  background-repeat: no-repeat;
}

.BrainhubCarousel__container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.BrainhubCarousel__arrows  {
  background-color: #97be12;
  width: 90px;
  height: 60px;
  border-radius: 0 50% 50% 0 / 60%;
}

.BrainhubCarousel__arrows:hover:enabled  {
  background-color: #97e00f;
}

.BrainhubCarousel__arrows.BrainhubCarousel__arrowRight {
  transform: rotate(180deg);
}

.BrainhubCarousel__arrows.BrainhubCarousel__arrowRight span {
  transform: translate(0%, -50%) rotate(225deg);
}

h2,
.name {
  font-family: 'Panther', sans-serif;
}

p {
  color: rgba(201, 201, 201);
  font-weight: 500;
}

.top {
  font-weight: bold;
}

.top,
.name {
  border-bottom: 2px solid rgb(201, 201, 201);
  padding-bottom: 3%;
  border-bottom-style: dashed;
}

@media screen and (min-width: 770px) {
  .BrainhubCarousel__container {
    padding-left: 15%;
  }

  .back {
    width: 200px;
    height: 200px;
  }
  
  .image {
    width: 250px;
    height: 250px;
  }
}
