@import "react-alice-carousel/lib/alice-carousel.css";

.home {
  color: #101010;
  display: flex;
  justify-content: center;
}

.aero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 50%;
}
